@font-face {
    
    font-family: centu;
    src: url(../tipografia/century_gothic.ttf);

}

html {


    font-size: 62.5%;
    background-color: #F5D3CA;

}

* {

    margin: 0;
    padding: 0rem;
    box-sizing: border-box;


}